/* Corpo e layout geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #788896;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #293845;
    text-align: left;
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    text-align: left;
    width: 100%;
    color: #4b5c6b;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
}

input[type="text"],
input[type="number"],
select,
input[type="range"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4d9;
    box-sizing: border-box;
    font-size: 16px;
    color: #788896;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
    border-color: #ced4d9;
    outline: none;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

button {
    width: 50%;
    padding: 12px;
    background-color: #6558f5;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #6558f5;
    font-weight: 400;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: start;
}

.tag {
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #ffffff;
    border: 2px solid #ced4d9;
    transition: background-color 0.3s;
    font-size: 15px;
    width: auto;
    color: #788896;
}

.tag.active {
    background-color: #788896;
    border: 2px solid #788896;
    color: white;
}

.tag:hover {
    background-color: #788896;
    color: white;
    cursor: pointer;
}

.tags-toggle {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.form-group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-section {
    width: 100%;
    margin: 1rem;
}

.form-wrapper {
    width: 100%;
}

.value-input {
    width: 35%;
    text-align: right;
}

.cep-input {
    width: 60%;
}

.range-input {
    width: 35%;
}

.container {
    padding: 20px;
}

/* Toggle Switch */
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.toggle-label {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.toggle-thumb {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    transition: 0.3s;
}

.toggle-thumb.custom {
    left: 1px; /* Posição quando "Personalizar busca" está ativo */
}

.toggle-thumb.random {
    left: 31px; /* Posição quando "Encontro aleatório" está ativo */
}

.toggle-label span {
    font-size: 14px;
    font-weight: 600;
    color: #6558f5;
}

.toggle-label span.active {
    font-weight: 700;
    color: #6558f5;
}

/* Animação de "..." */
button[disabled] {
    background-color: #cccccc; /* Cor do botão quando está desativado */
    cursor: not-allowed;
}

.loading-animation .dot {
    display: inline-block;
    font-size: 24px;
    margin-left: 2px;
    animation: bounce 1.4s infinite ease-in-out both;
}

.loading-animation .dot:nth-child(1) {
    animation-delay: -0.32s;
}

.loading-animation .dot:nth-child(2) {
    animation-delay: -0.16s;
}

.loading-animation .dot:nth-child(3) {
    animation-delay: 0s;
}

@keyframes bounce {
    0%, 80%, 100% {
        transform: scale(0.8);
    }
    40% {
        transform: scale(1.5);
    }
}

/* Wrapper para a roleta com visibilidade parcial */
.roleta-wrapper {
    height: 200px; /* 50% da altura inicial */
    position: fixed; /* Para manter a roleta fixa e sobrepor outros elementos */
    bottom: 0; /* Posiciona a roleta na parte inferior da tela */
    left: 0;
    right: 0;
    transition: height 1s ease-in-out, bottom 1s ease-in-out; /* Transição suave ao expandir */
    z-index: 10; /* Garantir que a roleta esteja acima de outros conteúdos */
    background: white; /* Fundo branco ao subir a roleta */
}

/* Quando a roleta está totalmente visível */
.roleta-wrapper.full-visible {
    height: 250px; /* Exibe 100% da roleta */
    bottom: 0%; /* Move a roleta para cima da tela */
}

/* Quando a roleta está girando */
.roleta-wrapper.full-visible .roleta-container {
    transform: translateY(-50%); /* Move a roleta para cima */
}

.roleta-container {
    transform: translateY(0);
    transition: transform 1s ease-in-out;
}
